header {
  position: fixed;
  width: 100%;
  // // height: 134px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  z-index: 101;
  padding: 15px 0;
  text-align: center;
  overflow: hidden;
  border-bottom: 40px solid #00873b;
  background-color: #fff;
  transition: all .5s cubic-bezier(.1,.66,.42,1.04);
  .brand-logo {
    a {
      display: inline-block;
      overflow: hidden;
    }
    img {
      width: auto;
      height: 61px;
      transition: all .5s cubic-bezier(.1,.66,.42,1.04);
    }
  } 
  &.scrolled {
    border-bottom: 10px solid #00873b;
    .brand-logo img {
      height: 37px;
    }
  }
  @media screen and (max-width: 768px) {
    
    .brand-logo img {
      height: 37px;
      width: auto;
    }
    border-bottom: 20px solid #00873b;
  }
  @media screen and (max-width: 414px) {
    .brand-logo img {
      height: auto;
      width: 90%;
    }
  }
}