body {
  font-family: $baseFont;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  font-weight: 400;
  color: #888;
}
html,body {
  position: relative;
  height: 100%;
}
.wrap {
  width: 100%;
  overflow: hidden;  
  padding-top: 134px;
  @media screen and (max-width: 768px) {
    padding-top: 100px;
  }
}

.container {
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.point {
  color: #f738ad;
}


.btn {
  background-color: #009b47;
  color: #fff;
  font-size: 30px;
  display: inline-block;
  // line-height: 2;
  border-radius: 1em;
  padding: .25em 1.5em;  
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: all .5s cubic-bezier(.1,.66,.42,1.04);
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    bottom: 0;
    background-color: rgba(#000,.05);
  }
  &:hover {
    background-color: darken( #009b47,5%);
    &:before {
      background-color: rgba(#000,.08);
    }
  }
  span {
    display: block;
  }
  &-icon {
    border-radius: .75em;
    background-color: #fff;
    width: 1.5em;
    height: 1.5em;
    margin-right: .2em;
    transform: translateY(20%);
    box-shadow: 5px 5px 0px rgba(#000,.1) inset;
    position: relative;
    &-hand {
      &:before {
        content: "";
        position: absolute;
        background: {
          image: url('../images/test-btn-hand.png');
          size: cover;
          repeat: no-repeat;
        }
        width: 31px;
        height: 39px;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        transition: all .5s;
      }
    }
  }
  &-text {
    transform: translateY(-5%);
  }
  @media screen and (max-width: 768px) {
    font-size: 24px;
    &-icon {
      &-hand {
        &:before {
          width: 20px;
          height: 25px;
        }
      }
    }
  }
  
  &-start {
    padding: 0 .8em 0 .5em;
    line-height: 2;
    span {
      display: inline-block;
    }
    &:hover {
      .btn-icon-hand {
        
        &:before {
          transform: translate(-50%,-60%) scale(1.1);
          
        }        
      }
    }
  }
  &-download {
    span {
      font-size: 18px;
      line-height: 2.4;
    }
  }
  &-share {
    line-height: 1.2;  
    text-align: center; 
    span {
      font-size: 18px;
      // padding: 0.1em 0;
    }
  }
}