<!DOCTYPE html>
html(lang="zh-tw")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    block meta
    //- link(rel="icon",href="favicon.ico",type="image/x-icon")
    link(rel="stylesheet", href="assets/styles/main.css")


    
    //- block style
    //- block ampurl

  body
    //- // header
    .wrap
      include /html/templates/header.pug
      include /html/pages/kv.pug

      .content
        .container
          .prizt-text  完成測驗 有機會得福島限量好禮

          .test
            .test-container
            
              include /html/pages/test-intro.pug
              //- include /html/pages/test-1.pug

          .map
            .pin.pin_1
            .pin.pin_2
            .pin.pin_3
            .pin.pin_4

      include /html/pages/notice.pug
      
    // share Js
    script(src="assets/scripts/lib/jquery.min.js")
    script(src="assets/scripts/main.js")
    //- // pages Js
    //- block script

