<!DOCTYPE html>
html(lang="zh-tw")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    include /html/templates/meta.pug
    //- link(rel="icon",href="favicon.ico",type="image/x-icon")
    link(rel="stylesheet", href="assets/styles/main.css")


    
    //- block style
    //- block ampurl

  body.form-page

    
    .event-wrap
      include /html/templates/event-title.pug
          
      .event-content
        .box
          .box-container
            .box-top
              span 
            .box-main

              .form
                .form-content
                  .form-section
                    span.form-label
                      label(for="username") 真實姓名：
                    span.form-input
                      input(id="username",type="text") 
                  .form-section
                    span.form-label
                      label(for="userphone") 連絡電話：
                    span.form-input
                      input(id="userphone",type="tel") 
                  .form-section
                    span.form-label
                      label(for="usermail") E-mail ：
                    span.form-input
                      input(id="usermail",type="email") 
                .form-button
                  a(href="#").btn.btn-next
                    span.btn-text 送出
                .form-notice
                  p *聯絡資料將做為得獎時連絡使用，請填寫真實資料以免影響您的得獎權利。
            .box-bottom
              span 

      include /html/templates/map.pug


      
    // share Js
    script(src="assets/scripts/lib/jquery.min.js")
    script(src="assets/scripts/question.js")
    //- // include Js
    //- block script

