<!DOCTYPE html>
html(lang="zh-tw")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    include /html/templates/meta.pug
    //- link(rel="icon",href="favicon.ico",type="image/x-icon")
    link(rel="stylesheet", href="assets/styles/main.css")


    
    //- block style
    //- block ampurl

  body
    //- // header
    include /html/templates/header.pug
    .wrap
      
      include /html/include/kv.pug

      .content
        .container
          .prizt-text
            span 完成測驗 有機會得福島限量好禮

          .box
            .box-container
              .box-top
                span 
              .box-main
            
                .test-intro.box-section#test-intro
                  .test-content
                    p 下一趟你想來點怎樣的福島旅行呢?
                    p 跟著你的直覺選出答案，
                    p 找出最適合你的福島旅遊行程。

                  .test-button
                    a(href="qa.html").btn.btn-start
                      span.btn-icon.btn-icon-hand
                      span.btn-text 按鈕開始
              .box-bottom
                span 

          include /html/templates/map.pug

      include /html/include/notice.pug
      
    // share Js
    script(src="assets/scripts/lib/jquery.min.js")
    script(src="assets/scripts/index.js")
    //- // include Js
    //- block script

