<!DOCTYPE html>
html(lang="zh-tw")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    include /html/templates/meta.pug
    //- link(rel="icon",href="favicon.ico",type="image/x-icon")
    link(rel="stylesheet", href="assets/styles/main.css")


    
    //- block style
    //- block ampurl

  body.question-page

    
    .event-wrap
      include /html/templates/event-title.pug
      .event-content
        .box
          .box-container
            .box-top
              span 
            .box-main

              .q#question-1
                .q-header
                  .q-img
                    img(src="assets/images/q.png", alt="")
                  h3.q-title
                    | 每到一個景點一定要打卡上傳IG或是臉書。
                
                .q-content
                  .q-check
                    input(type="radio",value="1",id="q1-1",name="q1")
                    label(for="q1-1")
                    span 是
                  .q-check
                    input(type="radio",value="1",id="q1-2",name="q1")
                    label(for="q1-2")
                    span 不是
                .q-button
                  a(href="#").btn.btn-next
                    span.btn-text 下一步
                
              .q#question-2
                .q-header
                  .q-img
                    img(src="assets/images/q.png", alt="")
                  h3.q-title
                    | 規劃旅遊時,會挑選住宿有設計感、或是建築特色的旅店。
                
                .q-content
                  .q-check
                    input(type="radio",value="1",id="q2-1",name="q2")
                    label(for="q2-1")
                    span 是
                  .q-check
                    input(type="radio",value="1",id="q2-2",name="q2")
                    label(for="q2-2")
                    span 不是
                .q-button
                  a(href="#").btn.btn-next
                    span.btn-text 下一步

              .q#question-3
                .q-header
                  .q-img
                    img(src="assets/images/q.png", alt="")
                  h3.q-title
                    | 願意花大錢吃高級料理或星級餐廳。
                
                .q-content
                  .q-check
                    input(type="radio",value="1",id="q3-1",name="q3")
                    label(for="q3-1")
                    span 是
                  .q-check
                    input(type="radio",value="1",id="q3-2",name="q3")
                    label(for="q3-2")
                    span 不是
                .q-button
                  a(href="#").btn.btn-next
                    span.btn-text 下一步

              .q#question-4
                .q-header
                  .q-img
                    img(src="assets/images/q.png", alt="")
                  h3.q-title
                    | 願意為了去一個秘境美景走很多路。
                
                .q-content
                  .q-check
                    input(type="radio",value="1",id="q4-1",name="q4")
                    label(for="q4-1")
                    span 是
                  .q-check
                    input(type="radio",value="1",id="q4-2",name="q4")
                    label(for="q4-2")
                    span 不是
                .q-button
                  a(href="#").btn.btn-next
                    span.btn-text 下一步

              .q#question-5
                .q-header
                  .q-img
                    img(src="assets/images/q.png", alt="")
                  h3.q-title
                    | 到一個新的城市旅遊,都會想要了解這個城市的故事。
                
                .q-content
                  .q-check
                    input(type="radio",value="1",id="q5-1",name="q5")
                    label(for="q5-1")
                    span 是
                  .q-check
                    input(type="radio",value="1",id="q5-2",name="q5")
                    label(for="q5-2")
                    span 不是
                .q-button
                  a(href="#").btn.btn-next
                    span.btn-text 下一步

              .q#question-6
                .q-header
                  .q-img
                    img(src="assets/images/q.png", alt="")
                  h3.q-title
                    | 出國旅遊比起每天精心打扮，更喜歡輕鬆舒服的穿著。
                
                .q-content
                  .q-check
                    input(type="radio",value="1",id="q6-1",name="q6")
                    label(for="q6-1")
                    span 是
                  .q-check
                    input(type="radio",value="1",id="q6-2",name="q6")
                    label(for="q6-2")
                    span 不是
                .q-button
                  a(href="#").btn.btn-next
                    span.btn-text 下一步

              .q#question-7
                .q-header
                  .q-img
                    img(src="assets/images/q.png", alt="")
                  h3.q-title
                    | 比起建築等人文拍照景點，更愛大自然風景。
                
                .q-content
                  .q-check
                    input(type="radio",value="1",id="q7-1",name="q7")
                    label(for="q7-1")
                    span 是
                  .q-check
                    input(type="radio",value="1",id="q7-2",name="q7")
                    label(for="q7-2")
                    span 不是
                  .q-button
                    a(href="#").btn.btn-next
                      span.btn-text 下一步
                
                .q#question-8
                  .q-header
                    .q-img
                      img(src="assets/images/q.png", alt="")
                    h3.q-title
                      | 安排旅遊景點時,一定會去當地最有歷史的建築或是博物館參觀。
                  
                  .q-content
                    .q-check
                      input(type="radio",value="1",id="q8-1",name="q8")
                      label(for="q8-1")
                      span 是
                    .q-check
                      input(type="radio",value="1",id="q8-2",name="q8")
                      label(for="q8-2")
                      span 不是
                  .q-button
                    a(href="#").btn.btn-next
                      span.btn-text 下一步
                
                .q#question-9
                  .q-header
                    .q-img
                      img(src="assets/images/q.png", alt="")
                    h3.q-title
                      | 一定會安排去旅遊當地的特色星巴克或知名咖啡廳朝聖。
                  
                  .q-content
                    .q-check
                      input(type="radio",value="1",id="q9-1",name="q9")
                      label(for="q9-1")
                      span 是
                    .q-check
                      input(type="radio",value="1",id="q9-2",name="q9")
                      label(for="q9-2")
                      span 不是
                  .q-button
                    a(href="#").btn.btn-next
                      span.btn-text 下一步
                
                .q#question-10
                  .q-header
                    .q-img
                      img(src="assets/images/q.png", alt="")
                    h3.q-title
                      | 比起走景點拍照，更傾向把花時間花在排當地知名拉麵店等餐廳。
                  
                  .q-content
                    .q-check
                      input(type="radio",value="1",id="q10-1",name="q10")
                      label(for="q10-1")
                      span 是
                    .q-check
                      input(type="radio",value="1",id="q10-2",name="q10")
                      label(for="q10-2")
                      span 不是
                  .q-button
                    a(href="#").btn.btn-next
                      span.btn-text 下一步
            .box-bottom
              span 

      include /html/templates/map.pug


      
    // share Js
    script(src="assets/scripts/lib/jquery.min.js")
    script(src="assets/scripts/question.js")
    //- // include Js
    //- block script

