<!DOCTYPE html>
html(lang="zh-tw")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    include /html/templates/meta.pug
    //- link(rel="icon",href="favicon.ico",type="image/x-icon")
    link(rel="stylesheet", href="assets/styles/main.css")


    
    //- block style
    //- block ampurl

  body.result-page

    
    .event-wrap
      include /html/templates/event-title.pug
      .event-content
        .box
          .box-container
            .box-top
              span 
            .box-main

              .result
                .result-title
                  h2 
                    img(src="assets/images/resoult-E-title.png",alt="知性玩家")
                  p 求知慾、好奇心旺盛的您，是不是很想了解這塊土地發生了什麼故事呢？就讓我們帶著您，深度探訪福島!

                .result-btn
                  a(href="assets/images/result-e-img.jpg",target="_blank").btn.btn-download
                    span.btn-text 下載行程
                  
                  a(href="#").btn.btn-share
                    span.btn-text 分享結果
                    span.btn-text 加碼抽好禮

                .result-section
                  
                  
                  .result-content
                    .itinerary
                      .itinerary-days 
                        span DAY 1
                      ul.itinerary-list
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/station.jpg",alt="郡山站")
                          .itinerary-content
                            p 郡山站
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/e/e-20.jpg",alt="高屋敷稻荷神社")
                          .itinerary-content
                            p 高屋敷稻荷神社
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/e/e-01.jpg",alt="高柴德高屋敷（推薦：三春駒／面具彩繪體驗）")
                          .itinerary-content
                            p 高柴德高屋敷（推薦：三春駒／面具彩繪體驗）
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/eat.jpg",alt="午餐：OICHI茶屋/里之茶屋")
                          .itinerary-content
                            p 午餐：OICHI茶屋/里之茶屋
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/e/e-02.jpg",alt="阿武隈洞")
                          .itinerary-content
                            p 阿武隈洞
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/landmark.jpg",alt="宇宙岩")
                          .itinerary-content
                            p 宇宙岩
                        
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/e/e-04.jpg",alt="宿：湯本溫泉")
                          .itinerary-content
                            p 宿：湯本溫泉

                    .itinerary
                      .itinerary-days 
                        span DAY 2
                      ul.itinerary-list
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/e/e-05.jpg",alt="溫泉神社")
                          .itinerary-content
                            p 溫泉神社
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/e/e-03.jpg",alt="白水阿彌陀堂")
                          .itinerary-content
                            p 白水阿彌陀堂
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/e/e-06.jpg",alt="塩屋埼燈塔")
                          .itinerary-content
                            p 塩屋埼燈塔
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/eat.jpg",alt="午餐")
                          .itinerary-content
                            p 午餐
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/e/e-21.jpg",alt="磐城震災傳承未來館")
                          .itinerary-content
                            p 磐城震災傳承未來館
                        
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/e/e-07.jpg",alt="福島環境水族館")
                          .itinerary-content
                            p 福島環境水族館
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/landmark.jpg",alt="時光膠囊KIMITO")
                          .itinerary-content
                            p 時光膠囊KIMITO
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/station.jpg",alt="宿：新白河站")
                          .itinerary-content
                            p 宿：新白河站
                        

                    .itinerary
                      .itinerary-days 
                        span DAY 3
                      ul.itinerary-list
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/e/e-08.jpg",alt="白河小峰城")
                          .itinerary-content
                            p 白河小峰城
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/e/e-09.jpg",alt="下鄉休息站Ematto")
                          .itinerary-content
                            p 下鄉休息站Ematto
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/e/e-10.jpg",alt="塔崖")
                          .itinerary-content
                            p 塔崖
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/eat.jpg",alt="午餐：會津美里新鶴Winery")
                          .itinerary-content
                            p 午餐：會津美里新鶴Winery
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/e/e-11.jpg",alt="大内宿")
                          .itinerary-content
                            p 大内宿
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/e/e-12.jpg",alt="會津武家屋敷")
                          .itinerary-content
                            p 會津武家屋敷
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/e/e-13.jpg",alt="鶴城、福島縣立博物館")
                          .itinerary-content
                            p 鶴城、福島縣立博物館
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/e/e-14.jpg",alt="宿：東山溫泉")
                          .itinerary-content
                            p 宿：東山溫泉

                    .itinerary
                      .itinerary-days 
                        span DAY 4
                      ul.itinerary-list
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/e/e-15.jpg",alt="螺旋堂、白虎隊紀念館")
                          .itinerary-content
                            p 螺旋堂、白虎隊紀念館
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/e/e-16.jpg",alt="午餐：輪箱飯（田季野、料理旅館田事）")
                          .itinerary-content
                            p 午餐：輪箱飯（田季野、料理旅館田事）
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/e/e-17.jpg",alt="七日町")
                          .itinerary-content
                            p 七日町
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/e/e-18.jpg",alt="猪苗代湖")
                          .itinerary-content
                            p 猪苗代湖
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/e/e-19.jpg",alt="野口英世記念館")
                          .itinerary-content
                            p 野口英世記念館
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/station.jpg",alt="郡山站")
                          .itinerary-content
                            p 郡山站
                        



            .box-bottom
              span 

      include /html/templates/map.pug


      
    // share Js
    script(src="assets/scripts/lib/jquery.min.js")
    //- script(src="assets/scripts/question.js")
    //- // include Js
    //- block script

