<!DOCTYPE html>
html(lang="zh-tw")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    include /html/templates/meta.pug
    //- link(rel="icon",href="favicon.ico",type="image/x-icon")
    link(rel="stylesheet", href="assets/styles/main.css")


    
    //- block style
    //- block ampurl

  body.result-page

    
    .event-wrap
      include /html/templates/event-title.pug
      .event-content
        .box
          .box-container
            .box-top
              span 
            .box-main

              .result
                .result-title
                  h2 
                    img(src="assets/images/resoult-D-title.png",alt="饕客玩家")
                  p 吃貨一枚，一定想要吃遍各地美食吧！福島縣地廣物博，更是美食盛産地，行程裡推薦的當地美食絶對不會讓您失望

                .result-btn
                  a(href="assets/images/result-d-img.jpg",target="_blank").btn.btn-download
                    span.btn-text 下載行程
                  
                  a(href="#").btn.btn-share
                    span.btn-text 分享結果
                    span.btn-text 加碼抽好禮

                .result-section

                  .result-content
                    .itinerary
                      .itinerary-days 
                        span DAY 1
                      ul.itinerary-list
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/d/d-01.jpg",alt="磐城站")
                          .itinerary-content
                            p 磐城站
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/eat.jpg",alt="午餐:中華nonki(堆疊丼)")
                          .itinerary-content
                            p 午餐:中華nonki(堆疊丼)
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/d/d-02.jpg",alt="白水阿彌陀堂(國寶)")
                          .itinerary-content
                            p 白水阿彌陀堂(國寶)
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/d/d-18.jpg",alt="白土屋菓子店(巨大泡芙)")
                          .itinerary-content
                            p 白土屋菓子店(巨大泡芙)
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/station.jpg",alt="宿:郡山車站附近")
                          .itinerary-content
                            p 宿:郡山車站附近
                    
                    .itinerary
                      .itinerary-days 
                        span DAY 2
                      ul.itinerary-list
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/d/d-19.jpg",alt="大友麵包店(奶油厚片吐司Cream Box)")
                          .itinerary-content
                            p 大友麵包店(奶油厚片吐司Cream Box)
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/d/d-03.jpg",alt="野口英世紀念館")
                          .itinerary-content
                            p 野口英世紀念館
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/d/d-04.jpg",alt="世界玻璃館")
                          .itinerary-content
                            p 世界玻璃館
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/d/d-05.jpg",alt="豬苗代地啤酒館(地啤酒)")
                          .itinerary-content
                            p 豬苗代地啤酒館(地啤酒)
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/d/d-06.jpg",alt="午餐:喜多方拉麵")
                          .itinerary-content
                            p 午餐:喜多方拉麵
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/d/d-07.jpg",alt="喜多方散策(拉麵神社、山中煎餅)")
                          .itinerary-content
                            p 喜多方散策(拉麵神社、山中煎餅)
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/d/d-08.jpg",alt="晚餐:田事(輪箱飯)")
                          .itinerary-content
                            p 晚餐:田事(輪箱飯)
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/landmark.jpg",alt="宿:會津若松")
                          .itinerary-content
                            p 宿:會津若松
                    
                    .itinerary
                      .itinerary-days 
                        span DAY 3
                      ul.itinerary-list
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/d/d-09.jpg",alt="野上溫泉站(足湯)")
                          .itinerary-content
                            p 野上溫泉站(足湯)
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/d/d-10.jpg",alt="蘆之牧溫泉；午餐：Deccora")
                          .itinerary-content
                            p 蘆之牧溫泉；午餐：Deccora
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/d/d-11.jpg",alt="鶴之城")
                          .itinerary-content
                            p 鶴之城
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/d/d-20.jpg",alt="老舖和菓子店本家長門屋(Fly Me to The Moon羊羹Fantasia)")
                          .itinerary-content
                            p 老舖和菓子店本家長門屋(Fly Me to The Moon羊羹Fantasia)
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/d/d-12.jpg",alt="宿：奧會津休憩館")
                          .itinerary-content
                            p 宿：奧會津休憩館
                        

                    .itinerary
                      .itinerary-days 
                        span DAY 4
                      ul.itinerary-list
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/d/d-13.jpg",alt="第一只見線拍攝點")
                          .itinerary-content
                            p 第一只見線拍攝點
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/d/d-14.jpg",alt="圓蔵寺")
                          .itinerary-content
                            p 圓蔵寺
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/d/d-15.jpg",alt="小池菓子舖（粟米饅頭）")
                          .itinerary-content
                            p 小池菓子舖（粟米饅頭）
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/d/d-16.jpg",alt="憩之館；午餐:醬汁豬排丼")
                          .itinerary-content
                            p 憩之館；午餐:醬汁豬排丼
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/d/d-17.jpg",alt="霧幻峽")
                          .itinerary-content
                            p 霧幻峽
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/station.jpg",alt="會津若松站")
                          .itinerary-content
                            p 會津若松站
                        
                    
                


            .box-bottom
              span 

      include /html/templates/map.pug


      
    // share Js
    script(src="assets/scripts/lib/jquery.min.js")
    //- script(src="assets/scripts/question.js")
    //- // include Js
    //- block script

