<!DOCTYPE html>
html(lang="zh-tw")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    include /html/templates/meta.pug
    //- link(rel="icon",href="favicon.ico",type="image/x-icon")
    link(rel="stylesheet", href="assets/styles/main.css")


    
    //- block style
    //- block ampurl

  body.result-page

    
    .event-wrap
      include /html/templates/event-title.pug
      .event-content
        .box
          .box-container
            .box-top
              span 
            .box-main

              .result
                .result-title
                  h2 
                    img(src="assets/images/resoult-A-title.png",alt="攝影玩家")
                  p 喜歡拍照攝影的您，這些福島秘境絶景是一定不能錯過的。跟著行程將福島各地之美都收錄到您的鏡頭裡吧！

                .result-btn
                  a(href="assets/images/result-a-img.jpg",target="_blank").btn.btn-download
                    span.btn-text 下載行程
                  
                  a(href="#").btn.btn-share
                    span.btn-text 分享結果
                    span.btn-text 加碼抽好禮

                .result-section
                  //- .result-season
                  //-   img(src="/assets/images/season-1-title.png",alt="春季")
                  
                  .result-content
                    .itinerary
                      .itinerary-days 
                        span DAY 1
                      ul.itinerary-list
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/station.jpg",alt="福島站")
                          .itinerary-content
                            p 福島站
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/a/a-01.jpg",alt="花見山公園")
                          .itinerary-content
                            p 花見山公園
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/a/a-02.jpg",alt="合戰場枝垂櫻")
                          .itinerary-content
                            p 合戰場枝垂櫻
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/a/a-03.jpg",alt="三春瀧櫻")
                          .itinerary-content
                            p 三春瀧櫻
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/a/a-04.jpg",alt="紅枝地藏櫻")
                          .itinerary-content
                            p 紅枝地藏櫻
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/station.jpg",alt="宿：郡山車站附近")
                          .itinerary-content
                            p 宿：郡山車站附近
                        
                    .itinerary
                      .itinerary-days 
                        span DAY 2
                      ul.itinerary-list
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/a/a-05.jpg",alt="藤田川櫻")
                          .itinerary-content
                            p 藤田川櫻
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/a/a-06.jpg",alt="笹原川千本櫻")
                          .itinerary-content
                            p 笹原川千本櫻
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/a/a-07.jpg",alt="觀音寺川櫻花林蔭道")
                          .itinerary-content
                            p 觀音寺川櫻花林蔭道
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/a/a-08.jpg",alt="鶴之城")
                          .itinerary-content
                            p 鶴之城
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/landmark.jpg",alt="宿:會津若松")
                          .itinerary-content
                            p 宿:會津若松
                        
                    .itinerary
                      .itinerary-days 
                        span DAY 3
                      ul.itinerary-list
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/a/a-09.jpg",alt="喜多方日中線紀念自行車步行者道")
                          .itinerary-content
                            p 喜多方日中線紀念自行車步行者道
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/a/a-10.jpg",alt="喜多方散策(山中煎餅、大和川酒造、拉麵)")
                          .itinerary-content
                            p 喜多方散策(山中煎餅、大和川酒造、拉麵)
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/a/a-11.jpg",alt="Laviespa裏磐梯櫻峠")
                          .itinerary-content
                            p Laviespa裏磐梯櫻峠
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/station.jpg",alt="宿:新白河站附近")
                          .itinerary-content
                            p 宿:新白河站附近
                        
                    .itinerary
                      .itinerary-days 
                        span DAY 4
                      ul.itinerary-list
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/a/a-12.jpg",alt="白河小峰城")
                          .itinerary-content
                            p 白河小峰城
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/a/a-13.jpg",alt="南湖公園")
                          .itinerary-content
                            p 南湖公園
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/station.jpg",alt="新白河站")
                          .itinerary-content
                            p 新白河站


            .box-bottom
              span 

      include /html/templates/map.pug


      
    // share Js
    script(src="assets/scripts/lib/jquery.min.js")
    //- script(src="assets/scripts/question.js")
    //- // include Js
    //- block script

