<!DOCTYPE html>
html(lang="zh-tw")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    include /html/templates/meta.pug
    //- link(rel="icon",href="favicon.ico",type="image/x-icon")
    link(rel="stylesheet", href="assets/styles/main.css")


    
    //- block style
    //- block ampurl

  body.result-page

    
    .event-wrap
      include /html/templates/event-title.pug
      .event-content
        .box
          .box-container
            .box-top
              span 
            .box-main

              .result
                .result-title
                  h2 
                    img(src="assets/images/resoult-C-title.png",alt="戸外玩家")
                  p 體力無限充滿活力的您，喜歡野外大自然的您，Follow我們的推薦征服福島縣吧!

                .result-btn
                  a(href="assets/images/result-c-img.jpg",target="_blank").btn.btn-download
                    span.btn-text 下載行程
                  
                  a(href="#").btn.btn-share
                    span.btn-text 分享結果
                    span.btn-text 加碼抽好禮
                    
                .result-section
                  .result-season
                    img(src="assets/images/season-2-title.png",alt="夏季")
                  
                  .result-content
                    .itinerary
                      .itinerary-days 
                        span DAY 1
                      ul.itinerary-list
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/station.jpg",alt="福島站")
                          .itinerary-content
                            p 福島站
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/c/summer/c-1-01.jpg",alt="土湯温泉男沼女沼健行（仁田沼停車場-男沼-仁田沼-思慕瀑布-女沼-杜鵑花山公園-仁田沼停車場）/SUP獨木舟")
                          .itinerary-content
                            p 土湯温泉男沼女沼健行（仁田沼停車場-男沼-仁田沼-思慕瀑布-女沼-杜鵑花山公園-仁田沼停車場）/SUP獨木舟
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/c/summer/c-1-02.jpg",alt="土湯溫泉街(足湯)")
                          .itinerary-content
                            p 土湯溫泉街(足湯)
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/c/summer/c-1-03.jpg",alt="宿：土湯溫泉")
                          .itinerary-content
                            p 宿：土湯溫泉

                    .itinerary
                      .itinerary-days 
                        span DAY 2
                      ul.itinerary-list
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/c/summer/c-1-04.jpg",alt="中津川溪谷散策")
                          .itinerary-content
                            p 中津川溪谷散策
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/c/summer/c-1-05.jpg",alt="小野川不動瀑布")
                          .itinerary-content
                            p 小野川不動瀑布
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/c/summer/c-1-06.jpg",alt="檜原湖划獨木舟")
                          .itinerary-content
                            p 檜原湖划獨木舟
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/c/summer/c-1-07.jpg",alt="宿：裏磐梯")
                          .itinerary-content
                            p 宿：裏磐梯

                    .itinerary
                      .itinerary-days 
                        span DAY 3
                      ul.itinerary-list
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/landmark.jpg",alt="休暇村裏磐梯租借腳踏車(休暇村-大澤沼-曲澤沼-曽原湖-休暇村)")
                          .itinerary-content
                            p 休暇村裏磐梯租借腳踏車(休暇村-大澤沼-曲澤沼-曽原湖-休暇村)
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/c/summer/c-1-08.jpg",alt="五色沼散策")
                          .itinerary-content
                            p 五色沼散策
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/c/summer/c-1-07.jpg",alt="宿：裏磐梯")
                          .itinerary-content
                            p 宿：裏磐梯

                    .itinerary
                      .itinerary-days 
                        span DAY 4
                      ul.itinerary-list
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/c/summer/c-1-09.jpg",alt="猪苗代站租借腳踏車")
                          .itinerary-content
                            p 猪苗代站租借腳踏車
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/c/summer/c-1-10.jpg",alt="騎腳踏車遊猪苗代湖")
                          .itinerary-content
                            p 騎腳踏車遊猪苗代湖
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/c/summer/c-1-11.jpg",alt="達澤不動瀑布")
                          .itinerary-content
                            p 達澤不動瀑布
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/c/summer/c-1-12.jpg",alt="安達太良溪谷自然遊步道健行")
                          .itinerary-content
                            p 安達太良溪谷自然遊步道健行
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/landmark.jpg",alt="二本松")
                          .itinerary-content
                            p 二本松



                .result-section
                  .result-season
                    img(src="assets/images/season-4-title.png",alt="冬季")
                  
                  .result-content
                    .itinerary
                      .itinerary-days 
                        span DAY 1
                      ul.itinerary-list
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/station.jpg",alt="福島站")
                          .itinerary-content
                            p 福島站
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/c/winter/c-2-11.jpg",alt="五色沼雪地健行")
                          .itinerary-content
                            p 五色沼雪地健行
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/c/winter/c-2-01.jpg",alt="午餐：會津山鹽拉麵")
                          .itinerary-content
                            p 午餐：會津山鹽拉麵
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/c/winter/c-2-02.jpg",alt="檜原湖（冰湖釣太公魚）")
                          .itinerary-content
                            p 檜原湖（冰湖釣太公魚）
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/c/winter/c-2-03.jpg",alt="宿：裏磐梯")
                          .itinerary-content
                            p 宿：裏磐梯
                        
                    .itinerary
                      .itinerary-days 
                        span DAY 2
                      ul.itinerary-list
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/c/winter/c-2-04.jpg",alt="裏磐梯／猪苗代雪場滑雪（推薦：Grandeco Snow Resort/Hotel Listel Resort）")
                          .itinerary-content
                            p 裏磐梯／猪苗代雪場滑雪（推薦：Grandeco Snow Resort/Hotel Listel Resort）
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/c/winter/c-2-03.jpg",alt="宿：裏磐梯/猪苗代")
                          .itinerary-content
                            p 宿：裏磐梯/猪苗代
                        
                    
                    .itinerary
                      .itinerary-days 
                        span DAY 3
                      ul.itinerary-list
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/c/winter/c-2-05.jpg",alt="猪苗代湖白鳥飛來地")
                          .itinerary-content
                            p 猪苗代湖白鳥飛來地
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/c/winter/c-2-06.jpg",alt="世界玻璃館")
                          .itinerary-content
                            p 世界玻璃館
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/c/winter/c-2-07.jpg",alt="午餐：Café Oyaji")
                          .itinerary-content
                            p 午餐：Café Oyaji
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/landmark.jpg",alt="女沼")
                          .itinerary-content
                            p 女沼
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/c/winter/c-2-08.jpg",alt="土湯溫泉街")
                          .itinerary-content
                            p 土湯溫泉街
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/c/winter/c-2-09.jpg",alt="土湯溫泉")
                          .itinerary-content
                            p 土湯溫泉

                    .itinerary
                      .itinerary-days 
                        span DAY 4
                      ul.itinerary-list
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/c/winter/c-2-10.jpg",alt="安達太良高原滑雪場")
                          .itinerary-content
                            p 安達太良高原滑雪場
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/landmark.jpg",alt="二本松")
                          .itinerary-content
                            p 二本松
                        


            .box-bottom
              span 

      include /html/templates/map.pug


      
    // share Js
    script(src="assets/scripts/lib/jquery.min.js")
    //- script(src="assets/scripts/question.js")
    //- // include Js
    //- block script

