<!DOCTYPE html>
html(lang="zh-tw")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    include /html/templates/meta.pug
    //- link(rel="icon",href="favicon.ico",type="image/x-icon")
    link(rel="stylesheet", href="assets/styles/main.css")


    
    //- block style
    //- block ampurl

  body.result-page

    
    .event-wrap
      include /html/templates/event-title.pug
      .event-content
        .box
          .box-container
            .box-top
              span 
            .box-main

              .result
                .result-title
                  h2 
                    img(src="assets/images/resoult-B-title.png",alt="網美玩家")
                  p 身為網美網帥的您，一定不想錯過福島縣各地的IG打卡熱點吧！跟著我們的腳步，在您的IG/FB頁面留下紀錄吧!

                .result-btn
                  a(href="assets/images/result-b-img.jpg",target="_blank").btn.btn-download
                    span.btn-text 下載行程
                  
                  a(href="#").btn.btn-share
                    span.btn-text 分享結果
                    span.btn-text 加碼抽好禮

                .result-section
                  //- .result-season
                  //-   img(src="/assets/images/season-1-title.png",alt="春季")
                  
                  .result-content
                    .itinerary
                      .itinerary-days 
                        span DAY 1
                      ul.itinerary-list
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/station.jpg",alt="湯本站")
                          .itinerary-content
                            p 湯本站
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/b/b-19.jpg",alt="UMINEKO商店")
                          .itinerary-content
                            p UMINEKO商店
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/b/b-01.jpg",alt="福島環境水族館")
                          .itinerary-content
                            p 福島環境水族館
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/eat.jpg",alt="午餐：Cafe Uluru/Island Bowl")
                          .itinerary-content
                            p 午餐：Cafe Uluru/Island Bowl                        
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/b/b-02.jpg",alt="三崎公園迷路廣場、磐城海洋塔、潮見台")
                          .itinerary-content
                            p 三崎公園迷路廣場、磐城海洋塔、潮見台
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/b/b-20.jpg",alt="Blue Mug Coffee")
                          .itinerary-content
                            p Blue Mug Coffee
                        //- li.itinerary-item
                        //-   .itinerary-img
                        //-     img(src="assets/images/b/b-21.jpg",alt="磐城回廊美術館(磐城萬本櫻鞦韆)")
                        //-   .itinerary-content
                        //-     p 磐城回廊美術館(磐城萬本櫻鞦韆)
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/landmark.jpg",alt="宿：郡山")
                          .itinerary-content
                            p 宿：郡山
                        
                    
                    .itinerary
                      .itinerary-days 
                        span DAY 2
                      ul.itinerary-list
                        //- li.itinerary-item
                        //-   .itinerary-img
                        //-     img(src="assets/images/itinerary-img-temp.jpg",alt="早餐：OBROSCOFFEE")
                        //-   .itinerary-content
                        //-     p 早餐：OBROSCOFFEE
                        //- li.itinerary-item
                        //-   .itinerary-img
                        //-     img(src="assets/images/itinerary-img-temp.jpg",alt="UMINEKO商店")
                        //-   .itinerary-content
                        //-     p UMINEKO商店
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/b/b-03.jpg",alt="猪苗代花草園")
                          .itinerary-content
                            p 猪苗代花草園
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/b/b-04.jpg",alt="猪苗代湖")
                          .itinerary-content
                            p 猪苗代湖
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/b/b-05.jpg",alt="午餐：cafe217/田園咖啡")
                          .itinerary-content
                            p 午餐：cafe217/田園咖啡
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/b/b-06.jpg",alt="諸橋近代美術館")
                          .itinerary-content
                            p 諸橋近代美術館
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/b/b-07.jpg",alt="宿：裏磐梯")
                          .itinerary-content
                            p 宿：裏磐梯

                    .itinerary
                      .itinerary-days 
                        span DAY 3
                      ul.itinerary-list
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/b/b-08.jpg",alt="日中線紀念館")
                          .itinerary-content
                            p 日中線紀念館
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/b/b-09.jpg",alt="喜多方老街（建議：租自行車遊喜多方老街）")
                          .itinerary-content
                            p 喜多方老街（建議：租自行車遊喜多方老街）
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/b/b-10.jpg",alt="午餐：喜多方拉麵")
                          .itinerary-content
                            p 午餐：喜多方拉麵
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/b/b-11.jpg",alt="鶴之城、絲路文明館")
                          .itinerary-content
                            p 鶴之城、絲路文明館
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/b/b-12.jpg",alt="七日町末廣酒造咖啡藏喫茶杏")
                          .itinerary-content
                            p 七日町末廣酒造咖啡藏喫茶杏
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/b/b-13.jpg",alt="宿：東山温泉")
                          .itinerary-content
                            p 宿：東山温泉

                    .itinerary
                      .itinerary-days 
                        span DAY 4
                      ul.itinerary-list
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/b/b-14.jpg",alt="湯野上温泉")
                          .itinerary-content
                            p 湯野上温泉
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/b/b-15.jpg",alt="塔崖")
                          .itinerary-content
                            p 塔崖
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/b/b-16.jpg",alt="蘆之牧溫泉：貓站長")
                          .itinerary-content
                            p 蘆之牧溫泉：貓站長；
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/b/b-17.jpg",alt="午餐：牛乳屋食堂")
                          .itinerary-content
                            p 午餐：牛乳屋食堂
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/b/b-18.jpg",alt="British Hills")
                          .itinerary-content
                            p British Hills
                        li.itinerary-item
                          .itinerary-img
                            img(src="assets/images/landmark.jpg",alt="新白河")
                          .itinerary-content
                            p 新白河
                        

            .box-bottom
              span 

      include /html/templates/map.pug


      
    // share Js
    script(src="assets/scripts/lib/jquery.min.js")
    //- script(src="assets/scripts/question.js")
    //- // include Js
    //- block script

