<!DOCTYPE html>
html(lang="zh-tw")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    include /html/templates/meta.pug
    //- link(rel="icon",href="favicon.ico",type="image/x-icon")
    link(rel="stylesheet", href="assets/styles/main.css")


    
    //- block style
    //- block ampurl

  body.form-page

    
    .event-wrap
      include /html/templates/event-title.pug
          
      .event-content
        .box
          .box-container
            .box-top
              span 
            .box-main

              .share-box
                .share-content
                  p 
                    |分享邀請好友來參加，還可加碼抽福島限定好禮！參加愈多次、分享愈多次、
                    span.point 中獎機率愈高哦！
                  .share-btn
                    a(href="qa.html").btn.btn-again
                      span.btn-text 再測一次
                    a(href="#").btn.btn-share2
                      span.btn-text 分享加碼抽
                .share-gift
                  img(src="assets/images/share-gift.png")
            .box-bottom
              span 

      include /html/templates/map.pug


      
    // share Js
    script(src="assets/scripts/lib/jquery.min.js")
    //- // include Js
    //- block script

