.kv
  .container
    .slogan 
      h1.slogan-title 
        span 專屬於你的福島之旅
      h2.slogan-text
        span 網美的必遊景點、壯闊的大山大景、當地的特有美食、福島的獨特魅力…什麼樣的旅遊品味適合你？快來測測，一探究竟～
    .mascot
      .mascot-container
        .mascot-head
          span
      .mascot-hand.mascot-hand-left
        span
      .mascot-hand.mascot-hand-right
        span