.notice
  .container
    h2.notice-title 
      span 注意事項
    .notice-prize
      .notice-prize-img
        img(src="assets/images/share-gift.png")

      ul.notice-prize-list
        li 戶外玩家獎：限定版音符三春駒
        li 攝影玩家獎：福島市蜜桃雪兔
        li 知性玩家獎：白河市汪汪
        li 饕客玩家獎：南會津貪吃妖精
        li 網美玩家獎：夏威夷女郎泰迪熊
        li 分享獎：只見線歲時記2021月曆

    .notice-content
      p 活動時間2020/?/?-2020/?/? 做完測驗分享測驗結果及填寫資料即可參加抽獎，資料需填寫完整並確認填寫信箱可正常收信，若未完整填寫、或因資料錯誤致信件無法寄送，將視同放棄抽獎、得獎資格。
      
      .notice-list
        ol
          li 每名粉絲可多次參與活動，但每位得獎者限得獎一次，不得重覆得獎。
          li 得獎名單將於2020年?月?日同步公佈於此活動網頁和日本好好玩 福島GO GO GO粉絲團。並同步以手機簡訊及MAIL給得獎者，得獎者需於？／？前回覆相關資料，若主辦方沒收到回覆就視為放棄得獎。
          li 得獎者需配合主辦單位提供個人證件資料與相關領獎同意書，得獎者須依所得稅法扣繳。若得獎者不願意給付得獎商品之稅額，則視為自動棄權，不具得獎資格。
          li 得獎者需於領獎通知上所載之領獎期限內依領獎通知之內容回覆相關領獎資料，逾期或因資料不全或錯誤導致贈品通知無法寄送者，則視為放棄領獎資格。
          li 得獎者參加本活動而需支付之任何稅捐係屬得獎人依稅法之規定所需履行之義務，概與主辦單位無關，倘有稅務法令適用之爭議者，概由得獎人自行向開徵機關提出申訴。
          li 本活動如有任何因電腦、網路、電話、技術或其他不可歸責於本公司之事由，導致參加者資料無效之情況，本公司不負任何法律責任，參加者亦不得異議。
          li 本公司保留審核、決定及變更獎項內容之權利，如因不可抗拒之因素，本公司有權更換該獎項。
          li 上述活動辦法依本公司公告為主；本公司具有審核參加者資格和變更修改或終止本活動之權利，並有權對本活動所有事宜做出解釋或裁決。
          li 參加者若以惡意之電腦程式、或違反法律或其他明顯違反活動公平性之方式，意圖混淆或影響本活動結果者，一經本公司發現，本公司得取消其中獎資格，並得追回贈送獎項。參加者應自行承擔因違反相關規定所生之一切法律責任。
          