.content {
  height: 1200px;
  padding-top: 20px;
  position: relative;
  background:{
    image: url('../images/test-bg.png');
    repeat: no-repeat;
    position: center top;
    size: cover;
  }
  // .container {
    // height: 100%;
    // justify-content: center;
  // }
  
}
.prizt-text {
  @include rwdimg(395px,98px);  
  margin-bottom: 50px;
  span {
    @include textHide;
    &:before {        
      background: {
        image: url('../images/prize.png');
        repeat: no-repeat;
        size: cover;
      }
    }
  }
}

.box {
  width: 990px;
  position: relative;
  z-index: 11;

  &-container {
    // width: 100%;
    // height: 0;
    // padding-top: percentage(546/990);
    // position: relative;
    // &:before {
    //   content: "";
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   width: 100%;
    //   height: 100%;
    //   background: {
    //     image: url('../images/test-content-bg.png');
    //     repeat: no-repeat;
    //     size: cover;
    //   }
    // }
  }

  
  
  &-top {
    @include rwdimg(990px,112px);
    top: 0;
    span {
      &:before {        
        background: {
          image: url('../images/box-top-bg.png');
          repeat: no-repeat;
          size: cover;
        }
      }
    }
    // position: absolute;
  }
  &-main {
    background: {
      image: url('../images/box-main-bg.png');
      repeat: no-repeat;
      size: contain;
      position: center;
      repeat: repeat-y;
    }
    // position: absolute;
    // left: 0;
    // top: 0px;
    // width: 100%;
    // height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    // padding-bottom: percentage(200/990);
    // height: 0;
    
    line-height: 1.5;
    p {
      margin-bottom: 0;
    }
    
  }
  &-bottom {
    @include rwdimg(990px,188px);
    span {
      &:before {
        background: {
          image: url('../images/box-bottom-bg.png');
          repeat: no-repeat;
          size: cover;          
        }
      }
    }
  }

  

  
}

.test {
  &-intro {
    font-size: 36px;
    color: #0d7c3f;
  }
  &-content {
    margin-bottom: .5em;
  }
  &-button {
    text-align: center;
  }
}

.map {
  @include rwdimg(1078px,301px);
  transform: translateY(-15%);
  position: relative;
  z-index: 9;
  &>span {
    &:before {        
      background: {
        image: url('../images/map.png');
        repeat: no-repeat;
        size: cover;
      }
    }
  }
  .pin {
    @include rwdimg(44px,58px);
    position: absolute;
    &>span {
      &:before { 
        background: {
          image: url('../images/gps.png');
          repeat: no-repeat;
          size: cover;
        }
      }
    }
    
    &-1 {
      left: 25%;
      top: 28%;
      animation: upDown .5s infinite alternate cubic-bezier(.1,.66,.42,1.04);
    }
    &-2 {
      left: 37%;
      top: 11%;
      animation: upDown .5s -.3s infinite alternate backwards cubic-bezier(.1,.66,.42,1.04);
    }
    &-3 {
      left: 58%;
      top: 35%;
      animation: upDown .5s -.9s infinite alternate backwards cubic-bezier(.1,.66,.42,1.04);
    }
    &-4 {
      left: 65%;
      top: 8%;
      animation: upDown .5s -.7s infinite alternate backwards cubic-bezier(.1,.66,.42,1.04);
    }
  }
}

@keyframes upDown {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-25%);
  }
}




.event-wrap {
  background: {
    image: url('../images/repeat-bg.jpg');
    repeat: repeat-y;
    position: center top;    
  }
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100%;
  padding-top: 20px;
}

.title-letsgo {
  @include rwdimg(969px,154px);
  margin-bottom: 30px;
  span {
    @include textHide;
    &:before {
      background: {
        image: url('../images/qa-title.gif');
        repeat: no-repeat;
        size: cover;          
      }
    }
  }
}

.q {
  width: 85%;
  margin: 0 auto;
  display: none;
  &-header {
    display: flex;    
    font-size: 30px;
    align-items: center;
    margin-bottom: .5em;
  }
  &-title {
    font-weight: normal;
    margin-bottom: 0;
    font-size: 30px;
  }
  &-img {
    margin-right: 10px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  &-content {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
  }
  &-check {
    margin: 0 1em;
    display: flex;
    align-items: center;
    font-size: 24px;

    input[type=radio] {
      visibility: hidden;
      width: 0;
      height: 0;
      &:checked {
        & + label {
          background-position: right top;
        }
      }
    }
    label {
      display: inline-block;
      width: 73px;
      height: 70px;
      background: {
        image: url('../images/checkbox.png');
        repeat: no-repeat;
        position: left top;
      }
      &:hover {
        cursor: pointer;
        background-position: -73px top;
      }
    }
    span {
      margin-left: .5em;
    }
  }
  &-button {
    text-align: center;
  }
  
}

.form {
  font-size: 20px;
  &-content {
    margin-bottom: 1em;
  }
  &-button {
    text-align: center;
    margin-bottom: .5em;
  }
  &-section {
    display: flex;
    width: 600px;
    margin: 0 auto .5em;
  }
  &-label {
    flex: 0 0 5.5em;
    text-align: right;
    margin-right: .5em;
  }
  &-input {
    display: block;
    border-bottom: 2px solid #888;
    flex: 1 1 auto;
    input {
      width: 100%;
      border: none;

    }
  }
}


.result {
  width: 85%;
  margin-top: -30px;
  position: relative;
  &-title {
    p {
      font-size: 24px;
      padding-bottom: 1em;
    }
    border-bottom: 1px solid #009944;
    margin-bottom: 2em;
  }
  &-btn {
    text-align: center;
    .btn {
      margin: 0 10px;
    }
    margin-bottom: 30px;
  }
  &-season {
    background: {
      image: url('../images/season-bg.png');
      size: contain;
      repeat: no-repeat;
      position: right center;
    }
    margin-bottom: 20px;
  }
}


.itinerary {
  &-days {
    span {
      display: inline-block;
      color: #fff;
      background-color: #027031;
      border-radius: .5em;
      font-size: 20px;
      padding: 0 .5em;
      line-height: 1.8;
    }
    margin-bottom: 20px;
  }
  &-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    
  }
  &-item {
    list-style-type: none;
    position: relative;
    padding-right: 50px;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 200px;
    &:last-child {
      .itinerary-img {
        &:after {
          display: none;
        }
      }      
    }
    
  }
  &-img {
    position: relative;
    img {
      border-radius: 10px;
      max-width: 100%;
      height: auto;
    }
    &:after {
      content: "";
      position: absolute;
      right: -48px;
      top: 50%;
      transform: translateY(-50%);
      width: 36px;
      height: 52px;
      background: {
        image: url('../images/arrow.png');
        size: cover;
        repeat: no-repeat;
        position: right center;
      }
    }
    
  }
}


.share {
  &-box {
    display: flex;
    width: 85%;
    margin: 0 auto;
    align-items: center;
  }
  &-content {
    padding-right: 1em;
    p {
      font-size: 24px;
      margin-bottom: 1em;
    }    
  }
  &-gift {
    flex: 0 0 40%;
    img {
      max-width: 100%;
    }
  }
  &-btn {
    text-align: center;
    .btn {
      font-size: 24px;
      margin: 0 5px;
      width: 8em;
    }
  }
  
  
}

@media screen and (max-width: 1080px) {
  .map { 
    width: 100%;
    .pin {
      width: percentage(44/1080);
    }
  }
  .event-title {
    position: relative;
    width: 100%;
  }
  .title-letsgo {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1030px) {
  .content,.event-content {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .box { 
    width: 100%;
    &-top,&-bottom {
      width: 100%;
    }
    &-main {
      font-size: 24px;
    }
    
    &-content {
      margin: 1em;
    }
  }
  .itinerary {
    font-size: 14px;
  }
  

}

@media screen and (max-width: 768px) {
  .content {
    height: 150vw;
    // background-size: 1440px 900px;
  }
  .test {
    &-intro {
      font-size: 24px;
    }
  }
  .form {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    &-section {
      width: auto;
    }
  }
  .result {
    &-title {
      p {
        font-size: 20px;
      }
    }
  }
  
  .itinerary {
    &-item {
      width: 48%;
      margin-right: 2%;
      &:nth-child(2n) {
        margin-right: 0;
      }
      // &:after {
      //   top: 40%;
      //   transform: translateY(-50%);
      // }
    }
    &-img {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .share {
    
    &-content {
      p {
        font-size: 18px;
      }
    }
    &-btn {
      .btn {
        font-size: 18px;
      }
    }
  }
  
}

@media screen and (max-width: 480px) {
  .box {
    &-main {
      font-size: 18px;
    }
  }
  .prizt-text {
    width: 90%;
    margin-bottom: 5vw;
  }
  .q {
    
    &-title {
      font-size: 20px;
    }
    &-check {
      margin: 0 .5em;
      font-size: 20px;
      label {
        width: 40px;
        height: 38px;
        background-size: 120px 38px;
        &:hover {
          background-position: -40px 0;
        }
      }
    }
  }
  .test {
    &-intro {
      font-size: 18px;
    }
  }
  .form {
    font-size: 16px;
  }
  .itinerary {
    &-item {
      padding-right: 25px;
    }
    &-img {
      
      &:after {
        right: -25px;
        width: 18px;
        height: 26px;
      }
    }
  }
  .result {
    margin-top: 0;
    &-title {
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
  .share {
    &-box {
      flex-direction: column;
    }
    &-content {
      padding-right: 0;
      margin-bottom: 1em;
    }
    
    &-gift {
      text-align: center;
      img {
        max-width: 80%;
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .result {
    &-btn {
      
      .btn {
        &:nth-child(1) {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .box {
    &-main {
      font-size: 14px;
    }
  }
  .test {
    &-intro {
      font-size: 14px;
    }
  }
  .form {
    font-size: 14px;
  }
  .share {
    
    
    &-btn {
      .btn {
        font-size: 16px;
      }
    }
    
  }
  
}