.kv {
  padding-top: 20px;
  height: 638px;
  position: relative;
  background:{
    image: url('../images/kv-bg.jpg');
    repeat: no-repeat;
    position: center top;
    size: cover;
  }
  .slogan-title,
  .slogan-text {
    span {
      @include textHide;
    }
    z-index: 10;
  }
  .slogan-title {
    @include rwdimg(509px,177px);
    margin: 0 auto 20px;
    span {
      &:before {        
        background: {
          image: url('../images/slogan-title.png');
          repeat: no-repeat;
          size: cover;
        }
      }
    }
  }
  .slogan-text {
    @include rwdimg(661px,128px);
    margin: 0 auto;
    span {
      &:before {        
        background: {
          image: url('../images/slogan-text.png');
          repeat: no-repeat;
          size: cover;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    height: 80vw;
    .slogan {
      width: 100%;
    }
    .slogan-title {
      width: 60%;
    }
    .slogan-text {
      width: 80%;
    }
  }
  // @media screen and (max-width: 580px) {
  //   height: 400px;
  // }

}
.mascot {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  &-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
  }
  &-head {
    @include rwdimg(521px,706px);
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%,34%);
    animation: hendUp 1s cubic-bezier(.34,1.56,.64,1);
    span {
      &:before {        
        background: {
          image: url('../images/mascot-head-full.png');
          repeat: no-repeat;
          size: cover;
        }
      }
    }
  }
  &-hand {
    @include rwdimg(211px,89px);
    position: absolute;
    bottom: 0px;
    left: 50%;
    &-left {
      transform: translate(-230%,50%);
      animation: handLeft .5s infinite alternate backwards ease-in-out;
      span {
        &:before {        
          background: {
            image: url('../images/mascot-hand-left.png');
            repeat: no-repeat;
            size: cover;
          }
        }
      }
    }
    &-right {
      transform: translate(130%,50%);
      animation: handRight .5s infinite alternate backwards ease-in-out;
      span {
        &:before {        
          background: {
            image: url('../images/mascot-hand-right.png');
            repeat: no-repeat;
            size: cover;
          }
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    &-head {
      width: 50%;
    }
    &-hand {
      width: 20%;
    }
  }
  
}
@keyframes hendUp {
  0% {
    transform: translate(-50%,80%);
  }
  100% {
    transform: translate(-50%,34%);
  }
}

@keyframes handLeft {
  0% {
    transform: translate(-230%,50%) rotate(0deg);
  }
  100% {
    transform: translate(-230%,50%) rotate(10deg);
  }
}
@keyframes handRight {
  0% {
    transform: translate(130%,50%) rotate(0deg);
  }
  100% {
    transform: translate(130%,50%) rotate(-10deg);
  }
}