
.notice {
  margin-top: -210px;
  padding-top: 210px;
  padding-bottom: 20px;
  background: {
    image: url('../images/notice-bg.jpg');
    repeat: no-repeat;
    color: #ecf6f7;
  }
  
  &-title {
    @include rwdimg(400px,140px);
    @include textHide;
    margin-bottom: 30px;
    span {
      &:before {        
        background: {
          image: url('../images/notice-title.png');
          repeat: no-repeat;
          size: cover;
        }
      }
    }
  }
  &-prize {
    display: flex;
    // width: 1200px;
    align-items: center;
    margin-bottom: 3em;
    &-img {
      img {
        width: 280px;
      }
    }
    &-list {
      margin-left: 0;
      padding-left: 3em;
      font-size: 20px;
      color: #00873b;
    }
  }
  &-content {
    text-align: left;
    font-size: 20px;
    color: #5c5c5c;
    width: 1200px;
    p {
      margin-bottom: 1em;
    }
  }
  &-list {
    ol {
      padding-left: 1em;
    }
    li {
      margin-bottom: 1em;
      // padding-right: 1em;
    }
  }
  @media screen and (max-width: 1240px) {
    &-content {
      width: auto;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  @media screen and (max-width: 768px) {
    background-size: contain;
    // background-position: center ;
    &-content {
      font-size: 16px;
    }

  }
  @media screen and (max-width: 640px) {
    &-prize {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 1em;
      padding: 10px;      
      &-img {
        img {
          max-width: 100%;
          margin-bottom: 2em;
        }
      }
      &-list {
        margin-left: 0;
        padding-left: 2em;
        font-size: 20px;
        color: #00873b;
      }
    }

  }
  @media screen and (max-width: 480px) {
    &-content {
      font-size: 12px;
    }
    &-title {
      width: 80%;
    }
  }
  @media screen and (max-width: 375px) {
    &-prize {
      &-list {
        font-size: 16px;
      }
    }
  }
  
}


