
@mixin clearFix {
  zoom: 1;
  &:before,&:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
@mixin rwdimg($width,$height) {
  width: $width;
  position: relative;
  &>span {
    width: 100%;
    height: 0;
    padding-top: percentage($height/$width);
    display: block;
    position: relative;
    &:before {
      content: "";
      left: 0;
      top: 0;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}
@mixin textHide {
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
}
@mixin media($query: $mobile) {
  @media #{$query} {
    @content;
  }
}
@mixin verCenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@mixin triangleDown ($width,$height,$color){
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $height $width/2 0 $width/2;
  border-color:$color transparent transparent transparent;
}

@mixin triangleRight ($width,$height,$color){
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $width/2 0 $width/2 $height;
  border-color:transparent transparent transparent $color ;
}

@mixin artsetCol {
  display: flex;
  // justify-content: space-around;
  flex-wrap: wrap;
  .item {
    width: 24%;
    margin-right: percentage(0.04/3);
    &.slick-slide {
      padding: 0 10px;
    }
    &:nth-child(4n) {
      margin-right: 0;
    }    
  }
  .articleImg img {
    width: 100%;
    height: auto;
  }
}
@mixin artsetRow {
  .item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $borderColor;
    padding: 15px 0;
    &:last-child {
      border: none;
    }
  }
  .subtitle {
    flex-wrap: wrap;
  }
  .articleImg {
    flex: 0 0 200px;
    margin-right: 20px;
  }
  .itemText {
    padding-right: 10px;
    flex: 1 1 auto;
  }
  @media screen and (max-width: 480px) {
    .articleImg {
      flex: 0 0 40%;      
    }
  }
}
