@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

// @font-face {
//   font-family: '微軟正黑體修正';
//   unicode-range: U+7db0, U+78A7, U+7B75; /* ASCII (碧筵綰) */
//   font-style: normal;
//   font-weight: 700;
//   src: local(Yu Gothic), local(MS Gothic);
// }
// @font-face {
//   font-family: '微軟正黑體修正';
//   unicode-range: U+7db0, U+78A7, U+7B75; /* ASCII (碧筵綰) */
//   font-style: normal;
//   font-weight: 400;
//   src: local(Microsoft JhengHei);
// }
$baseFont: 'Noto Sans TC', 'Microsoft JhengHei',Arial, Helvetica, sans-serif;

