$mainColor: #fff000;
$secColor: #31313b;
$thirdColor: #9e9e9f;
$textColor: #454545;
$borderColorLight: #f2f2f2;
$borderColor: #b3b3b3;

$Desktop: 'screen and (min-width: 1200px)' !default;
$mDesktop: 'screen and (max-width: 1600px)' !default;
$sDesktop: 'screen and (max-width: 1199px)' !default;
$onlyDesktop: 'screen and (min-width: 1025px)' !default;
$tabletDesktop: 'screen and (max-width: 1023px)' !default;
$withoutTablet: 'screen and (min-width: 769px)' !default;
$tablet: 'screen and (max-width: 768px)' !default;
$mobile: 'screen and (max-width: 580px)' !default;

$maxWidth: 1256px;
